version: "3.8"

services:
  post_db:
    image: mongo:3.2
    volumes:
      - post_db:/data/db
    networks:
      - back_net
  ui:
    # build: ./ui
    image: {{ USERNAME }}/ui:latest
    ports:
      - 9292:9292/tcp
    networks:
      - front_net
  post:
    # build: ./post-py
    image: {{ USERNAME }}/post:latest
    networks:
      - back_net
      - front_net
  comment:
    # build: ./comment
    image: {{ USERNAME }}/comment:latest
    networks:
      - back_net
      - front_net
  prometheus:
    image: {{ USERNAME }}/prometheus:latest
    ports:
      - 9090:9090/tcp
    networks:
      - back_net
      - front_net
    volumes:
      - prometheus_data:/prometheus
    command: # Передаем доп параметры в командной строке
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention=1d' # Задаем время хранения метрик в 1 день

  node-exporter:
    image: prom/node-exporter:v0.15.2
    user: root
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.ignored-mount-points="^/(sys|proc|dev|host|etc)($$|/)"'
    networks:
      - back_net
      - front_net

  mongo-exporter:
    image: percona/mongodb_exporter:0.32.0
    command:
      - '--mongodb.uri=mongodb://post_db:27017'
      - '--collect-all'
    networks:
      - back_net

  blackbox-exporter:
    image: prom/blackbox-exporter:master
    volumes:
      - blackbox_exporter:/config
    command:
      - '--config.file=/config/blackbox.yml'
    ports:
      - 9115:9115/tcp
    networks:
      - front_net
      - back_net

volumes:
  post_db:
  prometheus_data:
  blackbox_exporter:

networks:
  reddit:
  front_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.1.0/24
          aux_addresses:
            ui: 10.0.1.10
            post: 10.0.1.11
            comment: 10.0.1.12
            prometheus: 10.0.1.14
            node-exporter: 10.0.1.15
            blackbox-exporter: 10.0.1.16
  back_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.2.0/24
          aux_addresses:
            post_db: 10.0.2.20
            post: 10.0.2.21
            comment: 10.0.2.22
            prometheus: 10.0.2.24
            node-exporter: 10.0.2.25
            blackbox-exporter: 10.0.2.26
            mongo-exporter: 10.0.2.27
